.markerTab {
  @media screen and (min-width: 768px) {
    width: 28px;
    height: 28px;
  }
}

.aboutItemIcon {
  @media screen and (min-width: 1280px) {
    width: 24px;
    height: 24px;
  }
}

.socialLinkFacebook path {
  transition: fill 0.4s, stroke 0.4s;
}

.socialLinkFacebook:hover {
  cursor: pointer;
  path:nth-child(1) {
    fill: #97d28b;
  }
  path:nth-child(2) {
    stroke: #97d28b;
  }
}

.socialLinkInstagram path {
  transition: stroke 0.4s;
}

.socialLinkInstagram:hover {
  cursor: pointer;
}

.socialLinkInstagram:hover path {
  cursor: pointer;
  stroke: #97d28b;
}
