.accordion-item {
  padding-top: 16px;
  padding-bottom: 16px;
  position: relative;
}

.accordion-header-wrap {
  display: flex;
  gap: 8px;
  &::before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 50%; /* Center horizontally */
    transform: translateX(-50%); /* Center horizontally */
    bottom: 0;
    width: 320px;
    height: 1px;
    background: #97d28b;
  }
}

.accordion-header {
  color: #173d33;
  text-align: justify;
  font-family: Fira Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.72px;
}

.accordion-header-title {
  display: flex;
  gap: 8px;
}

.accordion-collapse {
  height: 0;
  overflow: hidden;
  transition: height 0.3s;
}

.accordion-collapse.open {
  height: auto;
}

.accordion-body {
  padding-left: 24px;
  margin-top: 16px;
  color: #173d33;
  text-align: justify;
  font-family: Fira Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.56px;
}
