@import '../node_modules/modern-normalize/modern-normalize.css';

@font-face {
  font-family: 'Fira Sans';
  src: url('./styles/fonts/FiraSans-Light.ttf');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./styles/fonts/FiraSans-Regular.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Fira Sans';
  src: url('./styles/fonts/FiraSans-Medium.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('./styles/fonts/Oswald-VariableFont_wght.ttf');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('./styles/fonts/Oswald-VariableFont_wght.ttf');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Oswald';
  src: url('./styles/fonts/Oswald-VariableFont_wght.ttf');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
