/* src/App.css */
/* body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
} */

.slider-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  min-width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  img {
    width: 100%;
    height: auto;
    display: block;
  }
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  outline: none;
}

.left {
  left: 10px;
}

.right {
  right: 10px;
}
