.control-box-and-title-wrap {
  @media screen and (min-width: 768px) {
    display: flex;
    gap: 24px;
  }

  @media screen and (min-width: 1280px) {
    justify-content: space-between;
  }
}

.title {
  @media screen and (min-width: 768px) {
    width: 342px;
    padding-right: 36px;
  }

  @media screen and (min-width: 1280px) {
    width: 398px;
  }
}

.title > h2 {
  @media screen and (min-width: 768px) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.control-box-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: end;

  text-align: justify;
  font-size: 28px;
  font-weight: 300;
  letter-spacing: -1.12px;

  @media screen and (min-width: 768px) {
    width: 342px;
  }

  @media screen and (min-width: 1280px) {
    width: 596px;
  }
}

@media screen and (min-width: 768px) {
  .control-btn-wrap:after {
    content: "";
    position: absolute;
    top: 0;
    left: -9px;
    width: 1px;
    height: 65px;
    background: #97d28b;
  }
}

@media screen and (min-width: 1280px) {
  .control-btn-wrap:after {
    height: 96px;
    left: -24px;
  }
}

.slides-numbers {
  @media screen and (min-width: 1280px) {
    margin-left: 137px;
  }
}

.slides-numbers-modifyed {
  color: rgba(23, 61, 51, 0.25);
}

.control-btn-wrap {
  display: flex;
  gap: 12px;
}

.control-btn {
  display: inline-flex;
  padding: 15px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid #173d33;
}

.control-btn:hover {
  border-color: #97d28b;
}

.control-btn:hover .arrow-slider path {
  stroke: #97d28b;
}

[class^="number-slide"],
[class*=" number-slide"] {
  display: flex;
  flex-direction: column;
  width: 320px;
  min-height: 318px;
  max-height: 100vh;
  margin-top: 12px;

  background: #eaedf1;

  @media screen and (min-width: 768px) {
    width: 342px;
    min-height: 322px;
    margin-top: 32px;
  }

  @media screen and (min-width: 1280px) {
    width: 596px;
    height: 506px;
    margin-top: 114px;
    align-items: center;
  }
}

.slide-thumb-image {
  width: 100%;
}

.slide-image {
  object-fit: cover;
}

.case {
  height: 150px;
  margin-top: 14px;
  padding-right: 12px;
  padding-left: 12px;

  @media screen and (min-width: 768px) {
    margin-top: 24px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 36px;
  }
}

.case-location-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  text-align: justify;
  font-size: 18px;
  letter-spacing: -0.72px;

  @media screen and (min-width: 768px) {
    font-size: 20px;
    letter-spacing: -0.8px;
    text-align: start;
  }

  @media screen and (min-width: 1280px) {
    font-size: 24px;
    letter-spacing: -0.96px;
  }
}

.case-location {
  max-width: 175px;

  @media screen and (min-width: 768px) {
    max-width: 230px;
  }

  @media screen and (min-width: 768px) {
    max-width: 357px;
  }
}

.case-description-wrap {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 34px;
  margin-bottom: 12px;

  text-align: justify;
  font-size: 12px;
  letter-spacing: -0.48px;

  @media screen and (min-width: 768px) {
    margin-top: 53px;
    font-size: 14px;
    letter-spacing: -0.56px;
  }

  @media screen and (min-width: 1280px) {
    margin-top: 61px;
    margin-bottom: 36px;
    width: 500px;
    font-size: 16px;
    letter-spacing: -0.64px;
  }
}

.case-description-wrap::before {
  content: "";
  position: absolute;
  top: -12px;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  width: 296px;
  height: 1px;
  background: #97d28b;
}

@media screen and (min-width: 768px) {
  .case-description-wrap::before {
    width: 318px;
  }
}

@media screen and (min-width: 1280px) {
  .case-description-wrap::before {
    width: 500px;
    top: -24px;
  }
}

.arrow-right-top:hover path {
  stroke: #97d28b;
}

.arrow-right-top:hover rect {
  fill: #173d33;
}
